<!DOCTYPE html>
<html>
    <head>
        <title> ADD - EstacionamentoManager</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <div id="displayTitulo">
            <h1 id="titulo"> Adicionar Carros </h1>
        </div>

        <div id="displayQuestionario">
            <input id="modelo" class="inputQuiz" placeholder="Escreva o modelo aqui"/>
            <input id="ano" class="inputQuiz" placeholder="Escreva o ano aqui"/>
            <input id="dono" class="inputQuiz" placeholder="Escreva o dono do carro aqui"/>
            <input id="tempo" class="inputQuiz" placeholder="Escreva o tempo previsto aqui"/>
            <button class="buttonQuiz" onclick="addCar()"> Enviar Carro </button>
            <button class="buttonExit" onclick="exitHome()"> SAIR </button>
        </div>

        <script src="/static/homeScript.js"></script>
        <script src="/static/gerenciadorScript.js"></script>
        
    </body>
</html>