<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>HOME - EstacionamentoManager</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <div id="displayTitulo">
            <h1 id="titulo"> Administrador de Estacionamentos </h1>
        </div>

        <div id="displayBotoes">
            <button class="buttonHome" id="addButton" onclick="urlAdd()"> Adicionar Carros </button>
            <button class="buttonHome" id="remButton" onclick="urlRem()"> Remover Carros </button>
        </div>

        <div id="displayBotoes2">
            <button class="buttonHome" id="viewButton" onclick="urlView()"> Visualizar Carros </button>
        </div>

        <script src="/static/homeScript.js"></script>
    </body>
</html>