<!DOCTYPE html>
<html>
    <head>
        <title> REM - EstacionamentoManager</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <div id="displayTitulo">
            <h1 id="titulo"> Remover Carros </h1>
        </div>

        <div id="displayQuestionario">
            <input id="donoRem" class="inputQuiz" placeholder="Escreva o dono do carro aqui"/>
            <button class="buttonQuiz" onclick="remCar()"> Remover Carro </button>
            <button class="buttonExit" onclick="exitHome()"> SAIR </button>
            <button id="limpartudobutton" class="buttonQuiz" onclick="clearCar()"> Limpar tudo </button>
        </div>

        <script src="/static/homeScript.js"></script>
        <script src="/static/gerenciadorScript.js"></script>
    </body>
</html>